.tabRoot {
    margin-top: 1.5rem;
    width: 100%;
}

.copyButton {
    margin-right: 1.25rem !important;
}

.expectedDate {
    text-align: end;
}

.shoppingListHeader {
    padding-left: 12px;
    padding-right: 32px;
    width: 100%;
}

.deliveryOfficeName {
    padding-right: 0.5rem;
    padding-left: 1rem;
}

@media only screen and (min-width: 600px) {
    .shoppingListHeader {
        padding-right: 24px;
    }
}
