.pageContainer {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #00173a 50%, #ffffff 50%);
    padding: 0.5rem;
}

.header {
    height: 3rem;
    color: #ffffff;
}

.contentContainer {
    width: 100%;
    height: calc(100% - 3rem);
}

.formContainer {
    box-sizing: content-box;
    padding: 1.5rem;
    background-color: #ffffff;
    width: 35rem;
    max-height: calc(100% - 3rem);
    max-width: 80%;
}
