.pageContainer {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 0px;
}

.contentContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.formContainer {
    box-sizing: content-box;
    padding: 1.5rem;
    background-color: #ffffff;
    width: 50rem;
    overflow: auto;
}

@media screen and (max-width: 600px) {
    .formContainer {
        padding: 1rem;
    }
}