.header {
    padding: 1rem;
    height: 10rem;
    width: 100%;
}

.headerLogo path {
    fill: #ffffff;
}

.headerControls {
    text-align: right;
    padding: 0.5rem 1rem;
}

@media screen and (max-width: 600px) {
    .header {
        height: fit-content;
        padding-bottom: 0px;
        padding-top: 0.5rem;
    }
    .headerLogo {
        align-items: flex-end;
        display: flex;
    }

    .headerControls {
        align-items: flex-end;
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }
}