.notifyButton {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    margin-left: -9px;
}

.utilityButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {

    .notifyButton {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: -9px;
    }

    .utilityButtons {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}