html,
body,
#root {
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

a {
    color: #ff5e89;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
